/*cia kur nesugalvojau kaip kitaip padaryt, kad rodytu backgraunda, bet responsive vistiek nemeta taip kaip dizaine.. */

.galreikssito{
    background: url(/images/BG.png) right no-repeat;
}

/*header*/

nav {
    width: 100%;
    padding: 1%;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    border-radius: 24px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    width: 80px;
    height: 80px;
    padding: 28px;
}

#header-svg{
    background: #84cc16;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);
    display:flex;
    justify-content: center;
    align-items: center;
}

/*first part*/


/*box one*/

.box_one_first span {
    color: #84cc16;
}

.box_one_first h1{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
}

.box_one_first article{
    color: var(--osler-gray-60, #647067);
    /* Paragraph/2xl */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: -0.24px;
}

.box_one_elements{
    display:flex;
    justify-content: space-around;
}

.box_one_elements p{
    color: var(--osler-gray-60, #647067);
    /* Label/md */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.box_one_first a{
    display: block flex;
    block-size: 8%;
    width: 40%;
    justify-content: center;
    align-items: center;    
    text-decoration: none;
    color: #FFF;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
}

@media (max-width: 768px){
    .box_one_first a{
        width: 100%;
    }
}

#scrolldown{
    display: block flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--osler-gray-10, #F5F5F5);
    color: var(--osler-gray-80, #2F3C33);
    /* Label/sm */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

@media (max-width: 768px){
    #scrolldown{
        display: none;
    }
}

/*box Two*/
@media (max-width: 768px){
    .box_two_first{
        margin-top: 15%;
    }
}

#doctor {
    position:absolute;
    padding-right: 20%;
    padding-top: 15%;
}

#pulse{
    position:absolute;
    padding: 0 20% 15% 45%;
}

#nutrition{
    position:absolute;
    padding: 10% 20% 0% 45% 
}

@media (max-width: 768px) {
    #pulse {
        padding:20% 0 40% 80% ;
    }
    #nutrition {
        padding:30% 80% 2% 0 ;
    } 
    #doctor {
        display: none;
    }
}

/*second part*/

.secondcontainer{
    display: flex;
    margin-top: 3%;
    padding:15%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 180px;
    background: var(--osler-gray-80, #2F3C33);
}

.secondcontainer .row {
    justify-content: space-between;
}
.second_container_right a{
    margin:2% 0 2% 0;
    display: block;
    width: 12.5rem;
    align-items: center;
    text-decoration: none;
    height: 48px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background: var(--healing-green-50, #84CC16);
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}
.second_container_right p{
    color: var(--osler-gray-20, #E3E4E3);
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
}

.second_container_left article{
    color: var(--osler-gray-white, #FFF);
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
    flex-shrink: 0;
}

@media (max-width: 768px){
    .responsive_none {
        display: none;
    }
}

/*third part*/

.thirdcontainer{
    border-radius: 180px;
    background: var(--healing-green-50, #84CC16);
    height:100%;
    margin-top: 3%;
    padding: 15%;
}

.thirdcontainer h3{
    margin-bottom: 5%;
    text-align: center;
    color: var(--osler-gray-white, #FFF);
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}



/*fourth part*/

.fourth{
    border-radius: 180px;
    background: var(--osler-gray-10, #F5F5F5);
    text-align: center;
    margin-top: 3%;
    padding: 10%;
}

.four_box_one{
   display:flex;
   padding: 5% 15% 5% 15%;
   justify-content: space-between;
}

.four_box_one article{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}

.four_box_one p{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-60, #647067);
    display: block;
    width: 10%;
    padding-top: 1%;
}

.fourth .row a{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    text-decoration: none;
    width:70%;
    margin-top:3%;
    margin:0 auto;
}

@media (min-width: 768px){
    .four_box_two_ss {
        display:none;
    }
}

@media (max-width: 768px){
    .four_box_two_xl {
        display: none;
    }
}

/*fifth part*/

.fifth {
    margin-top: 5%;
}

.fifth .row{
    margin:8% 10% 0 10%;
    align-items: center;
}

.fifth_buttons{
    display: block;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33); 
    width:250px !important;  
}

.fifth_mini_list{
    border: none !important;
}

.fifth_buttons a{
    color: #FFF !important;
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;

}

.fifth h2{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
    margin-bottom: 5%;
}

.fifth h3{
    display: block;
    width: 50%;
    height: 48px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-60, #647067);
    color: var(--osler-gray-60, #647067);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.fifth_box {
    display: flex;
    justify-content: space-between;
}

.fifth_mini_list{
    color: var(--osler-gray-70, #48524B);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
}

.fifth a{
    height: 48px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-60, #647067);
    color: var(--osler-gray-60, #fff);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    text-decoration: none;
    display: block;
    width: 25%;
    margin-bottom: 5%;
}

.fifth article{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}

.fifth p{
    color: var(--osler-gray-60, #647067);
    /* Paragraph/lg */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    letter-spacing: -0.18px;
}


.fifth_box_two{
    margin-left: 10%;
}

.fifth_box_one .fifth_box_two article{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading sm/ExtraBold */
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 126.667% */
    letter-spacing: -0.9px;
}

.fifth_box_one article span{
    color: var(--remote-red-50, #F43F5E);
    /* Heading sm/ExtraBold */
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.9px;
}

.fifth_box_two article span{
    color: var(--remote-red-50, #F43F5E);
    /* Heading sm/ExtraBold */
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.9px;
}

.fifth_box_one .fifth_box_two p{
    color: var(--osler-gray-60, #647067);
    /* Text lg/Bold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

/*sixth part*/

.sixth{
    gap: 10px;
    border-radius: 180px;
    background: var(--healing-green-50, #84CC16);
    padding:5%;
    margin-top: 3%;
}

.sixth .row{
    align-items: center;
    justify-content: center;
    padding: 1% 0 5% 0;
}

.sixth h3{
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-white, #ffffff);
    padding-top: 5%;
    display: block;
    width: 30%;
    padding: 2%;
    margin: 0 auto;
    margin-top: 5%;
}

.sixth article{
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
    padding: 3% 0 3% 0;
}

.sixth .row .six_box_one, .six_box_two, .six_box_three, .six_box_four, .six_box_five, .six_box_six{
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    padding: 6%;
}

.sixth .row .six_box_one article, .six_box_two article, .six_box_three article, .six_box_four article, .six_box_five article, .six_box_six article{
    color: var(--osler-gray-90, #1E2721);
    /* Heading xs/ExtraBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
    text-align: left;
}

.sixth .row .six_box_one p, .six_box_two p, .six_box_three p, .six_box_four p, .six_box_five p, .six_box_six p{
    color: var(--osler-gray-60, #647067);
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
    text-align: left;
}

/*seven part*/

.seven_header {
    display: flex;
    justify-content: space-between;
    margin: 10% 10% 5% 10%;
}

.seven h3 {
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}

.seven a {
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
}

.seven_slider {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
}

@media (max-width: 768px) {
    .seven_slider{
        margin: 0 20% 0 20%;
        display: contents;
    }
}

/*eight part*/

.eight{
    border-radius: 180px;
    background: var(--healing-green-20, #D9F99D);
    margin-top: 3%;
}

.eight img{
    position:relative;
    padding: 3% 0 0 20%;
}

#top_phone{
    display: none;
    position: absolute;
    padding-right: 200px;
}

.eight_right{
    padding-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.eight_right p {
    display: flex;
    height: 48px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-80, #2F3C33);
    width: 50%;
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.eight_right h3 {
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
}

.eight_right a{
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    text-decoration: none;
}

/*nine part*/

.nine{
    margin-top:5%;
    padding-top: 10%;
    border-radius: 413.25px;
    background: var(--osler-gray-70, #48524B);
    
}

.nine .nine_image_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nine p {
    margin-top: 5%;
    color: var(--osler-gray-20, #E3E4E3);
    text-align: center;
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;   
    margin-bottom: 10%; 
}

.nine_middle, .nine_left, .nine_right{
    display: flex;
    flex-direction: column;
    
}

.nine_left, .nine_right{
    padding-top:8% ;
}

.nine_left a, .nine_right a{
    border-radius: 24px;
    border: 1px solid var(--osler-gray-white, #FFF);
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: %;
}

.nine_middle a {
    text-decoration: none;
    color: var(--osler-gray-white, #FFF);
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
    opacity: 0.48;
    text-align: center;
}

.nine_middle a:hover{
    color:#FFF;
    opacity: 1;
}

.nine_privacy{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.nine_privacy a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Label/sm */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.nine_links{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20% 10% 20%;
}

.nine_links a {
    text-decoration: none;
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    height: 80px;
    padding: 24px 32px;
    flex: 1 0 0;
    border-radius: 30px;
    background: var(--healing-green-50, #84CC16);
}

@media (max-width: 768px){
    .nine_links{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
}